.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20%;
}

.header_nav {
  display: grid;
  grid-auto-flow: column;
  column-gap: 60px;
  padding-right: 50px;
}

.header_nav a {
  text-decoration: none;
  
  font-size: 18px;
  line-height: 25px;

  color: #2C2C2C;
}

.header_myAccount {
  display: grid;
  grid-auto-flow: column;
  column-gap: 15px;
  padding-right: 50px;
}

.header_myAccount a {
  
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;

  color: #2C2C2C;
}

.main-page {
  background-image: url(./assets/img/herobanner2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;

}

.main-page__titleBlock {
  width: 80%;
}

.main-page__title {
  font-weight: bold;
  font-size: 84px;
  line-height: 112px;
  color: #2C2C2C;
  padding: 15% 0 0 15%;
}

.main-page__btn-plan {
  width: 200px;
  height: 60px;
  background: #FF715B;
  border-color: #FF715B;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #FFFFFF;
  margin-left: 15%;
  margin-top: 50px;
  cursor: pointer;
}

.main-page__search {

  width:65%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  margin: -4% 0 0 35%;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px 5px rgba(219, 200, 197, 0.2);

}

.main-page__search div {
  display: flex;
  flex-direction: column;
  width: 20%;
  row-gap: 10px;
}

.main-page__search div > h3 {
  font-size: 16px;
  line-height: 19px;
  color: #A79997;

}

.main-page__choice {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: #FF715B;
}

.main-page__search_btn-discover {
  width: 200px;
  height: 60px;
  background: #FF715B;
  border-color: #FF715B;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #FFFFFF;
  cursor: pointer;

}

.blocks {
  display: flex;
  justify-content: space-around;
  padding-top: 230px;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.blocks__choose,
.blocks__explore,
.blocks__start,
.blocks__enjoy {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  width: 20%;
  background: #F8F8F8;
  padding: 15px;
  text-decoration: none;
}


.blocks div:hover {
  background: #FFFFFF;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  cursor: pointer;
}


.blocks div img {
  width: 100px;
  height: 100px;
}


.blocks__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;

  text-align: center;

  color: #2C2C2C;
}

.blocks__desc {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  text-align: center;


  color: #A79997;

}

.top {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin: 0 auto;
    justify-content: space-around;
    padding-bottom: 150px;

}

.top__inf {
  width: 30%;
}

.top__inf_title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;

  color: #2C2C2C;
}

.top__inf_title span {
  color: #FF715B;
}

.top__inf_desc {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;



  color: #A79997;
}

.top__inf_btn {
  width: 195px;
  height: 64px;
  background: #FF715B;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #FFFFFF;
  cursor: pointer;
  margin-top: 50px;
}

.top__destinations {
  display: grid;

  grid-template-columns: 1fr 1fr;
  width: 60%;

}

.top__destinations_dest {
  list-style-type: none;
}


.dest-picture {
  width: 95%;
}

.dest-country {
  text-align: center;
}

.offering {
  
  height: 100%;
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding: 30px;
  margin: 0 auto;
  column-gap: 65px;
  
}

.offering__picture,
.offering__text {
  max-width: 700px;
  padding: 10px;
}

.offering__text_title {
  padding-top: 40px;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;

  color: #2C2C2C;
}

.offering__text div {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  column-gap: 20px;
}

.offering__text div h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  color: #000000;
}






@media (max-width: 1024px) {
  .header_nav {
      display: none;
      grid-auto-flow: row;
  }

  
}

@media (max-width: 800px) {
  .main-page__search {
      display: grid;
      margin: -18% 0 0 35%;
      height: 300px;
  }

  .main-page__search div {
      width: 100%;
  }

  .blocks {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      row-gap: 10px;
      padding-top: 130px;
  }
  .blocks div {
      width: 80%;
  
  }

  .offering {
    flex-wrap: wrap;
}

}



@media (max-width: 426px) {
  .main-page {
      height: 600px;
  }
  .main-page__search {
      width: 100%;
      margin: 0;
  }
  .main-page__title {
      font-size: 40px;
      line-height: 50px;
      padding: 30% 0 0 15%;
  }
  .blocks {

      grid-template-columns: 1fr;

  }

    .offering__picture_lighthouse {
      width: 300px;
    }

    .offering__text_title {
      font-size: 30px;
      text-align: center;
    }

    .offering__text div h4 {
      font-size: 24px;
  }
}
